<!doctype html>
<html
        class="light"
        lang="en"
        th:fragment="parent(content,title,script)"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:replace="${title}">MyPeople</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}"/>
    <link rel="stylesheet" th:href="@{'/css/style.css'}"/>
</head>
<body class="dark:bg-gray-900 bg-gray-200 dark:text-white">
    <!--Common Header-->
    <!--If user is logged in-->
    <!--Navbar-->
    <div th:if="${loggedInUser}">
        <div th:replace="~{user/user_navbar :: user-navbar}"></div>
    </div>
    <!--If user is logged out-->
    <div th:unless="${loggedInUser}">
        <div th:replace="~{navbar :: navbar}"></div>
    </div>
    <!--Main Content-->
    <div class="p-4">
        <section th:replace="${content}"></section>
    </div>
    <!--Common Footer-->
    <footer class="p-4">
        Created by Mishal Al Shahari
    </footer>
    <!--Flowbite Content-->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script th:src="@{'/js/script.js'}"></script>
    <th:block th:replace="${script}"></th:block>
</body>
</html>